# Imports

In [2]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Import files
path = r'/Users/jorisjan/Documents/CareerFoundry/Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

# Check dimensions of df_ords_prior

In [4]:
df_ords_prior.shape

(32434489, 4)

# Merge df_ords_prior with df_ords dataframe

In [5]:
df_ords_prior.head(2)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1

In [6]:
df_ords.head(2)

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0

In [7]:
# Merge df_ords_prior with df_ords dataframe
df_ords_merged = df_ords.merge(df_ords_prior, on = ['order_id'])

# Use the indicator argument to check whether there was a full match between the two dataframes.

In [8]:
df_ords_merged = df_ords.merge(df_ords_prior, on = ['order_id'],  indicator = True)

In [9]:
df_ords_merged = df_ords_merged.drop(columns = ['Unnamed: 0'])

In [10]:
df_ords_merged

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

In [11]:
df_ords_merged['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

# Export the merged file in pickle format as “orders_products_combined.pkl”

In [12]:
df_ords_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [13]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [15]:
# Check whether a dataframe contains any missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [16]:
# Check whether a dataframe contains any FULL duplicate records
df_dups = df_ords_prior[df_ords_prior.duplicated()]
# Display the DataFrame containing only rows that are duplicates
df_dups

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []